
.hide{
    top: 0px;
    right: -500px;
}

.show{
    top: 0px;
    right: 0px;
}

.right_menu{
    width: 500px;
    height: 100vh;
    background-color: blue;
    float: left;
    position: fixed;
    transition: 0.5s;
}

.menu_button{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    margin: 5px;
}